# í•´ë‹¹ ì½”ë“œëŠ” employment_full í…Œì´ë¸”ì˜ í•™êµ, í•™ê³¼, ì·¨ì—…ë¥ ì„ ì •ê·œí™”í•˜ëŠ” ì½”ë“œì…ë‹ˆë‹¤.

- fetch_employments_full.py ì‹¤í–‰ í›„ í•´ë‹¹ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ë©´ ë©ë‹ˆë‹¤.

In [ ]:
!pip install pymysql sqlalchemy

import pandas as pd
from sqlalchemy import create_engine

Requirement already satisfied: pymysql in /usr/local/lib/python3.11/dist-packages (1.1.1)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.40)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.13.2)

In [ ]:
# 2. ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„í¬íŠ¸
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# 3. MySQL ì ‘ì† ì„¤ì •
# ì•„ë˜ ì •ë³´ë¥¼ ìì‹ ì˜ í™˜ê²½ì— ë§ê²Œ ìˆ˜ì •í•´ ì£¼ì„¸ìš”
user = 'root'
password = 'securityveryimportant'
host = '221.155.195.6'  # ì˜ˆ: 'localhost' ë˜ëŠ” '127.0.0.1'
port = 53306
database = 'main'

In [ ]:
# í…Œì´ë¸” ë¡œë“œ
# SQLAlchemy ì—”ì§„ ìƒì„±
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}?charset=utf8mb4")

# employment_full ë¶ˆëŸ¬ì˜¤ê¸°
query_full = "SELECT * FROM employment_full"
df_full = pd.read_sql(query_full, engine)

In [ ]:
# survey_dates ì •ê·œí™”(ì¡°ì‚¬ ê¸°ì¤€ì¼)
survey_dates_df = df_full[['survey_date']].drop_duplicates().reset_index(drop=True)
survey_dates_df['survey_id'] = survey_dates_df.index + 1

df_full = df_full.merge(survey_dates_df, on='survey_date', how='left')

In [ ]:
# 4. universities í…Œì´ë¸”
universities_df = df_full[['school_code', 'school_name', 'edu_level', 'region', 'establishment_type']].drop_duplicates()
universities_df = universities_df.rename(columns={
    'edu_level': 'university_level',
    'establishment_type': 'establishment'
})

In [ ]:
# 5. departments í…Œì´ë¸”
departments_df = df_full[['dept_code', 'dept_name', 'school_code', 'major_group', 'mid_major', 'sub_major']].drop_duplicates()
departments_df = departments_df.rename(columns={
    'major_group': 'major_category',
    'mid_major': 'middle_category',
    'sub_major': 'minor_category'
})

In [ ]:
# 6. summary_stats í…Œì´ë¸”
summary_stats_df = df_full[['school_code', 'dept_code', 'survey_id',
    'graduates_total', 'graduates_male', 'graduates_female',
    'emp_rate_total', 'emp_rate_male', 'emp_rate_female',
    'advanced_total', 'advanced_male', 'advanced_female',
    'advance_rate_total', 'advance_rate_male', 'advance_rate_female']].drop_duplicates()

In [ ]:
# 7. employment_detail í…Œì´ë¸”
detail_columns = [col for col in df_full.columns if col.startswith('ì·¨ì—…ì_')]
employment_detail_df = df_full[['school_code', 'dept_code', 'survey_id'] + detail_columns].drop_duplicates()

# ì»¬ëŸ¼ëª… ë³€ê²½

In [ ]:
import re

# ì·¨ì—…ì ì»¬ëŸ¼ ëª©ë¡
korean_columns = [col for col in employment_detail_df.columns if col.startswith('ì·¨ì—…ì_')]

# í•œì˜ ë§¤í•‘ (í•„ìš”ì‹œ ë” ì¶”ê°€ ê°€ëŠ¥)
kor2eng = {
    'ì·¨ì—…ì': 'employed',
    'êµì™¸ì·¨ì—…ì': 'external',
    'êµë‚´ì·¨ì—…ì': 'internal',
    'í•´ì™¸ì·¨ì—…ì': 'overseas',
    'ë†ë¦¼ì–´ì—…ì¢…ì‚¬ì': 'agriculture',
    'ê°œì¸ì°½ì‘í™œë™ì¢…ì‚¬ì': 'creator',
    '1ì¸ì°½(ì‚¬)ì—…ì': 'self_employed',
    'í”„ë¦¬ëœì„œ': 'freelancer',
    'ê³„': 'total',
    'ë‚¨': 'male',
    'ì—¬': 'female',
}

# ë³€í™˜ í•¨ìˆ˜
def translate_column(kor_col):
    parts = kor_col.split('_')[1:]  # 'ì·¨ì—…ì_' ì œê±°
    translated = [kor2eng.get(p, p) for p in parts]
    return 'employed_' + '_'.join(translated)

# ì ìš©
rename_map = {col: translate_column(col) for col in korean_columns}
employment_detail_df = employment_detail_df.rename(columns=rename_map)

In [ ]:
employment_detail_df.columns.tolist()

['school_code',
 'dept_code',
 'survey_id',
 'employed_external_total',
 'employed_external_male',
 'employed_external_female',
 'employed_internal_total',
 'employed_internal_male',
 'employed_internal_female',
 'employed_overseas_total',
 'employed_overseas_male',
 'employed_overseas_female',
 'employed_agriculture_total',
 'employed_agriculture_male',
 'employed_agriculture_female',
 'employed_creator_total',
 'employed_creator_male',
 'employed_creator_female',
 'employed_self_employed_total',
 'employed_self_employed_male',
 'employed_self_employed_female',
 'employed_freelancer_total',
 'employed_freelancer_male',
 'employed_freelancer_female']

# í™•ì¸

In [ ]:
print("universities_df:", universities_df.shape)
print("departments_df:", departments_df.shape)
print("survey_dates_df:", survey_dates_df.shape)
print("summary_stats_df:", summary_stats_df.shape)
print("employment_detail_df:", employment_detail_df.shape)

universities_df: (1619, 5)
departments_df: (23016, 6)
survey_dates_df: (1, 2)
summary_stats_df: (25760, 15)
employment_detail_df: (25543, 24)

In [ ]:
# 1. university FK ë¬´ê²°ì„± í™•ì¸
invalid_schools = departments_df.loc[~departments_df['school_code'].isin(universities_df['school_code'])]
print("ì¡´ì¬í•˜ì§€ ì•ŠëŠ” universityì— ì—°ê²°ëœ í•™ê³¼ ìˆ˜:", len(invalid_schools))

# 2. department FK ë¬´ê²°ì„± í™•ì¸
invalid_depts = summary_stats_df.loc[~summary_stats_df['dept_code'].isin(departments_df['dept_code'])]
print("ì¡´ì¬í•˜ì§€ ì•ŠëŠ” í•™ê³¼ì— ì—°ê²°ëœ í†µê³„ ìˆ˜:", len(invalid_depts))

# 3. survey_id FK ë¬´ê²°ì„± í™•ì¸
invalid_surveys = summary_stats_df.loc[~summary_stats_df['survey_id'].isin(survey_dates_df['survey_id'])]
print("ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ì¡°ì‚¬ì¼ìì— ì—°ê²°ëœ í†µê³„ ìˆ˜:", len(invalid_surveys))

ì¡´ì¬í•˜ì§€ ì•ŠëŠ” universityì— ì—°ê²°ëœ í•™ê³¼ ìˆ˜: 0
ì¡´ì¬í•˜ì§€ ì•ŠëŠ” í•™ê³¼ì— ì—°ê²°ëœ í†µê³„ ìˆ˜: 0
ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ì¡°ì‚¬ì¼ìì— ì—°ê²°ëœ í†µê³„ ìˆ˜: 0

In [ ]:
# ì¤‘ë³µ í™•ì¸
print("universities ì¤‘ë³µ:", universities_df.duplicated().sum())
print("departments ì¤‘ë³µ:", departments_df.duplicated().sum())
print("survey_dates ì¤‘ë³µ:", survey_dates_df.duplicated().sum())

universities ì¤‘ë³µ: 0
departments ì¤‘ë³µ: 0
survey_dates ì¤‘ë³µ: 0

# MySQL í…Œì´ë¸” ìƒì„± - MySQLì—ì„œ í•  ê²ƒ
---

ğŸ”¸ 1. univ_survey_dates
```sql
DROP TABLE IF EXISTS univ_survey_dates;

CREATE TABLE univ_survey_dates (
    survey_id INT PRIMARY KEY,
    survey_date DATE
);
```
ğŸ”¸ 2. univ_info
```sql
DROP TABLE IF EXISTS univ_info;

CREATE TABLE univ_info (
    school_code VARCHAR(20) PRIMARY KEY,
    school_name VARCHAR(255),
    university_level VARCHAR(50),
    region VARCHAR(50),
    establishment VARCHAR(50)
);
```
ğŸ”¸ 3. univ_departments
```sql
DROP TABLE IF EXISTS univ_departments;

CREATE TABLE univ_departments (
    dept_code VARCHAR(20) PRIMARY KEY,
    dept_name VARCHAR(255),
    school_code VARCHAR(20),
    major_category VARCHAR(50),
    middle_category VARCHAR(50),
    minor_category VARCHAR(50),
    FOREIGN KEY (school_code) REFERENCES univ_info(school_code)
);
```
ğŸ”¸ 4. univ_summary_stats
```sql
DROP TABLE IF EXISTS univ_summary_stats;

CREATE TABLE univ_summary_stats (
    summary_id INT AUTO_INCREMENT PRIMARY KEY,
    school_code VARCHAR(20),
    dept_code VARCHAR(20),
    survey_id INT,
    graduates_total INT,
    graduates_male INT,
    graduates_female INT,
    emp_rate_total FLOAT,
    emp_rate_male FLOAT,
    emp_rate_female FLOAT,
    advanced_total INT,
    advanced_male INT,
    advanced_female INT,
    advance_rate_total FLOAT,
    advance_rate_male FLOAT,
    advance_rate_female FLOAT,
    FOREIGN KEY (school_code) REFERENCES univ_info(school_code),
    FOREIGN KEY (dept_code) REFERENCES univ_departments(dept_code),
    FOREIGN KEY (survey_id) REFERENCES univ_survey_dates(survey_id)
);
```
ğŸ”¸ 5. univ_employment_detail
```sql
DROP TABLE IF EXISTS univ_employment_detail;

CREATE TABLE univ_employment_detail (
    detail_id INT AUTO_INCREMENT PRIMARY KEY,
    school_code VARCHAR(20),
    dept_code VARCHAR(20),
    survey_id INT,

    employed_external_total INT,
    employed_external_male INT,
    employed_external_female INT,

    employed_internal_total INT,
    employed_internal_male INT,
    employed_internal_female INT,

    employed_overseas_total INT,
    employed_overseas_male INT,
    employed_overseas_female INT,

    employed_agriculture_total INT,
    employed_agriculture_male INT,
    employed_agriculture_female INT,

    employed_creator_total INT,
    employed_creator_male INT,
    employed_creator_female INT,

    employed_self_employed_total INT,
    employed_self_employed_male INT,
    employed_self_employed_female INT,

    employed_freelancer_total INT,
    employed_freelancer_male INT,
    employed_freelancer_female INT,

    FOREIGN KEY (school_code) REFERENCES univ_info(school_code),
    FOREIGN KEY (dept_code) REFERENCES univ_departments(dept_code),
    FOREIGN KEY (survey_id) REFERENCES univ_survey_dates(survey_id)
);
```

#  MySQL ì—…ë¡œë“œ

In [ ]:
# universities_dfì—ì„œ ì¤‘ë³µ school_code ì œê±°
universities_df = universities_df.drop_duplicates(subset='school_code')

# ì´ë¯¸ ë“¤ì–´ê°„ school_code í™•ì¸
with engine.connect() as conn:
    existing_codes = pd.read_sql("SELECT school_code FROM univ_info", conn)
    universities_df = universities_df[~universities_df['school_code'].isin(existing_codes['school_code'])]

# ì¤‘ë³µ ì œê±° í›„ append
universities_df.to_sql('univ_info', con=engine, if_exists='append', index=False)

# ì¤‘ë³µ ì œê±°
departments_df = departments_df.drop_duplicates(subset='dept_code')

# ì´ë¯¸ DBì— ì¡´ì¬í•˜ëŠ” dept_code ì¡°íšŒ
with engine.connect() as conn:
    existing_dept_codes = pd.read_sql("SELECT dept_code FROM univ_departments", conn)
    departments_df = departments_df[~departments_df['dept_code'].isin(existing_dept_codes['dept_code'])]

# ì¤‘ë³µ ì œê±° í›„ append ì‹œë„
departments_df.to_sql('univ_departments', con=engine, if_exists='append', index=False)

# DBì— ì´ë¯¸ ì¡´ì¬í•˜ëŠ” survey_id ë¶ˆëŸ¬ì˜¤ê¸°
existing_survey_ids = pd.read_sql("SELECT survey_id FROM univ_survey_dates", con=engine)

# ì¤‘ë³µ ì œê±°
survey_dates_df_clean = survey_dates_df[~survey_dates_df['survey_id'].isin(existing_survey_ids['survey_id'])]

# ì´ì œ ì¤‘ë³µ ì—†ì´ append
survey_dates_df_clean.to_sql('univ_survey_dates', con=engine, if_exists='append', index=False)

summary_stats_df.to_sql('univ_summary_stats', con=engine, if_exists='append', index=False)
employment_detail_df.to_sql('univ_employment_detail', con=engine, if_exists='append', index=False)

25543

In [ ]:
employment_detail_df.columns.tolist()

['school_code',
 'dept_code',
 'survey_id',
 'employed_external_total',
 'employed_external_male',
 'employed_external_female',
 'employed_internal_total',
 'employed_internal_male',
 'employed_internal_female',
 'employed_overseas_total',
 'employed_overseas_male',
 'employed_overseas_female',
 'employed_agriculture_total',
 'employed_agriculture_male',
 'employed_agriculture_female',
 'employed_creator_total',
 'employed_creator_male',
 'employed_creator_female',
 'employed_self_employed_total',
 'employed_self_employed_male',
 'employed_self_employed_female',
 'employed_freelancer_total',
 'employed_freelancer_male',
 'employed_freelancer_female']

# school_code, school_nameì„ univ_code, univ_nameìœ¼ë¡œ ì¶”ê°€ ë°”ê¿”ì•¼í•¨
---
mysqlì—ì„œ ë°”ê¿€ê²ƒ.
```
ALTER TABLE univ_info
    CHANGE school_code univ_code VARCHAR(20),
    CHANGE school_name univ_name VARCHAR(255),
    CHANGE university_level univ_level VARCHAR(50);
```